.table_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .table_header td,
  .table_header th {
    width: 100px;
  }

  .table_body {
    width: fit-content;
    border: 1px solid rgb(0, 0, 0);

    .times {
      .time {
        width: 100px;
        height: 60px;
      }
    }

    .cols {
      width: 100px;

      .grids {
        .grid {
          height: 30px;
          border: 1px solid rgb(0, 0, 0);
        }
      }
    }
  }
}
